* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: url('login.jpg') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 40px;
  width: 350px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  color: #000000;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  background: transparent;
  color: #fff;
  font-size: 16px;
}

form input:focus {
  outline: none;
  border-bottom: 1px solid #b8b7b7;
}

button {
  padding: 12px;
  background: white;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.msg {
  background: #ffffff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: center;
}
